@page "{id:int}"
@model SemestreWork.Pages.DuActionsModel
@{ ViewData["Title"] = "DuActions"; }

@*<div style="text-align:center;">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>

            <div class="col-8" style="margin-top:30px;">
                <h2 align="middle">Предстоящие мероприятия</h2>
                <hr>
                <div class="card" style="margin-top: 3rem;">
                    <div class="border_style_outset">  <img src="https://sun9-67.userapi.com/impf/DaXAR8iuC3PO6_oeveEl1h18QA43l3CuO4Ogwg/gsE70PLL2Ds.jpg?size=895x505&quality=96&proxy=1&sign=1fa9cd260caf4b4e829b762f3c77fe02&type=album" alt="7.27d" width="100%"></div>

                    <div class="card-body">
                        <h4 align="middle">Новый год не за горами, а это значит...</h4>
                        <p>
                            Пришло время дарить подарки✨

                            Мы запускаем серию онлайн-викторин по теме Нового года в нашем Инстаграме!

                            3 недели = 3 викторины = 3 победителя, которые получат очень крутые призы🎉

                            Скорее подписывайся на наш Инстаграм и участвуй, первая викторина уже началась
                            <a href="https://vk.com/away.php?to=https%3A%2F%2Finstagram.com%2Funivervillage%3Figshid%3D1mel4ilhti05s&post=-20011739_74967&cc_key=">
                                Inst
                            </a>
                        </p>
                    </div>
                </div>
                <div class="card" style="margin-top: 3rem; margin-bottom: 5rem;">
                    <div class="border_style_outset">  <img src="https://sun9-34.userapi.com/impg/H6jyc_KdaD1AptEMHrLmWghsH3yefQ_zK-LPPQ/CT4hWJPvS3M.jpg?size=1080x1080&quality=96&proxy=1&sign=568354085fa7615548607311bb43dbb4&type=album" alt="7.27d" width="100%"></div>

                    <div class="card-body">
                        <h4 align="middle">🌿14 декабря, 20:00</h4>
                        <p>
                            Вечер китайской культуры от Международного клуба - вас ждут интересные мастер-классы, музыка и просмотр фильма.
                            Подробнее читайте в этом посте👇🏻
                            <br />
                            <a href="https://vk.com/wall-114442620_6243">Тут</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-2"></div>
        </div>
    </div>
</div>*@

@*------------------------------------------------------------*@

<!-- main -->
<main class="main align-self-center">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>

            <div class="col-8">
                <div align="right">
                    <h2 align="middle">@Model.news.Name</h2>
                    @using SemestreWork.Models;
                    @if (HttpContext.Session.Get<string>("AuthReady") == "true")
                    {
                        @if (HttpContext.Session.Get<RegisterModel>("AuthUser").Role.ToString() == "Admin")
                        {
                            <form method="post">
                                <button type="submit" asp-page-handler="Delete" asp-route-id="@Model.news.Id" style=" padding: 0;
                                    border: none;
                                    font: inherit;
                                    color: inherit;
                                    background-color: transparent;
                                    color: #C0C0C0;
                                    font-size: 80%;">
                                    DeletePost [X]
                                </button>
                            </form>
                         }
                     }
                </div>

                <hr>

                <div class="card">
                    <img src="@Model.news.Picture" alt="Dota 2" width="100%">
                    <div class="card-body">
                        @{ var str = @Model.HTMLtext; }
                        @Html.Raw(str)
                    </div>
                </div>

                @if (HttpContext.Session.Get<string>("AuthReady") == "true")
                {
                    @if (HttpContext.Session.Get<RegisterModel>("AuthUser").Role.ToString() == "Admin")
                    {
                        <form method="post">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <input asp-for="news.Id" type="hidden" />
                                                    <label asp-for="news.Name" style="font-weight:bold;"></label>
                                                    <input type='text' class='form-control' asp-for="news.Name" />
                                                    <span class="alert-danger" asp-validation-for="news.Name"></span>
                                                </div>
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <label asp-for="news.Intro" style="font-weight:bold;"></label>
                                                    <textarea style="width:400px;" type='text' class='form-control' asp-for="news.Intro"></textarea>
                                                    <span class="alert-danger" asp-validation-for="news.Intro"></span>
                                                </div>
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <label asp-for="news.Text" style="font-weight:bold;"></label>
                                                    <textarea style="width:600px; height:150px;" type='text' class='form-control' asp-for="news.Text"></textarea>
                                                    <span class="alert-danger" asp-validation-for="news.Text"></span>
                                                </div>
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <label asp-for="news.Picture" style="font-weight:bold;"></label>
                                                    <input type='text' class='form-control' asp-for="news.Picture" />
                                                    <span class="alert-danger" asp-validation-for="news.Picture"></span>
                                                </div>

                                                <div class="text-center col-md-12" style="margin-top:35px;">
                                                    <button class="btn btn-primary btn-sx" type="submit"><i class="glyphicon glyphicon-plus"></i> Edit Post</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                     }
                 }

                @foreach (var listComments in Model.postsComments)
                {

                @if (HttpContext.Session.Get<string>("AuthReady") == "true")
                {
                    @if (HttpContext.Session.Get<RegisterModel>("AuthUser").Role == "Admin")
                    {
                        <form method="post">
                            <button type="submit" asp-page-handler="DeleteComment" asp-route-ComId="@listComments.Id" style=" padding: 0;
                                                                                                            padding-left:90%;
                                                                                                            border: none;
                                                                                                            font: inherit;
                                                                                                            color: inherit;
                                                                                                            background-color: transparent;
                                                                                                            color: #C0C0C0;
                                                                                                            font-size: 100%;
                                                                                                                         ">
                                [X]
                            </button>
                        </form>
                     }
                 }
                    <div>
                        @{ var comUser = Model._registerRepository.GetUser(@listComments.CreatorId); }
                        <div class="timeline-header">

                            <a class="nav-link" href="~/Profile/@listComments.CreatorId" style="display: inline-block;">
                                <div class="timeline-header">
                                    <span class="userimage">
                                        @if (@comUser.Image == null)
                                        {
                        <img src="~/img/noavatar.png" style="display: inline-block;"> }
                    else
                    {
                     <img src="@comUser.Image" style="display: inline-block;">}
                                    </span>
                                    @listComments.CreatorName
                                </div>
                            </a>
                        </div>
                        @listComments.Text
                        <hr />
                    </div>}
                <div class="timeline-comment-box" style="margin-top: 2rem;">
                    <div class="user">
                        <img src="~/img/noavatar.png" alt="Your avatar" width="5%">
                    </div>
                    <div class="input">
                        <form method="post">
                            <div class="input-group">
                                <input type="text" asp-for="comment.Text" class="form-control rounded-corner" placeholder="Напишите что-нибудь...">
                                <span class="alert-danger" asp-validation-for="comment.Text"></span>
                                <div class="input-group-btn p-l-10">
                                    <button asp-page-handler="SendComment" style="margin-left: 1rem;" class="btn btn-primary f-s-12 rounded-corner" type="submit">
                                        Отправить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="col-2"></div>
        </div>
    </div>
</main>
